LinkedIn profile (1).json
{
  "name": "LinkedIn profile",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        736,
        0
      ],
      "id": "d82ae278-9aaa-4c21-8b14-19cf107db7ad",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1152,
        0
      ],
      "id": "09fcd11c-416e-46d3-9422-f477ab715bf5",
      "name": "Wait",
      "webhookId": "e3486954-6ca3-43da-b65f-f71b70d3060e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/actor-tasks/ivnqNvdIegjMlVxiu/runs?token=apify_api_",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"maxItems\": 200,\n  \"searchQuery\": \"Marketing Managers\",\n  \"takePages\": 10,\n  \"profileScraperMode\": \"Full\",\n  \"startPage\": 1\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        0
      ],
      "id": "9025abc1-6d6b-447d-8945-a9d9444a5c2b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/j9JifBveJeWTJclIR/items?token=apify_api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        0
      ],
      "id": "27d5046a-1a20-40c9-8647-dffb9e83e0cd",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1NNvCyQpmjyz0gFijBpOVio4zgM1Mz-K823Soz5PHJPo",
          "mode": "list",
          "cachedResultName": "LinkedIn profile",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NNvCyQpmjyz0gFijBpOVio4zgM1Mz-K823Soz5PHJPo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NNvCyQpmjyz0gFijBpOVio4zgM1Mz-K823Soz5PHJPo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Profile Url": "={{ $json.linkedinUrl }}",
            "First Name": "={{ $json.firstName }}",
            "Last Name": "={{ $json.lastName }}",
            "Head Line": "={{ $json.headline }}",
            "Location": "={{ $json.location.linkedinText }}",
            "Company Name": "={{ $json.currentPosition[0].companyName }}"
          },
          "matchingColumns": [
            "Profile Url"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Head Line",
              "displayName": "Head Line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Profile Url",
              "displayName": "Profile Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2112,
        0
      ],
      "id": "a190e12a-0203-457b-9789-1dc2ca2a1707",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oZTdVew9MuvztQLC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NNvCyQpmjyz0gFijBpOVio4zgM1Mz-K823Soz5PHJPo",
          "mode": "list",
          "cachedResultName": "LinkedIn profile",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NNvCyQpmjyz0gFijBpOVio4zgM1Mz-K823Soz5PHJPo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NNvCyQpmjyz0gFijBpOVio4zgM1Mz-K823Soz5PHJPo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1488,
        0
      ],
      "id": "32836474-6db1-4cb0-b1ed-41a7a2d42d29",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oZTdVew9MuvztQLC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all new items from HTTP Request node (previous-2)\nconst newItems = $items(\"HTTP Request1\") // replace with exact node name if different\n  .map(item => item.json)\n  .filter(item => item.linkedinUrl); // keep only items with linkedinUrl\n\n// Get all existing profile URLs from Get Row(s) in Sheet node (previous-1)\nconst existingRows = $items(\"Get row(s) in sheet\") // replace with exact node name if different\n  .map(item => item.json[\"Profile Url\"])\n  .filter(url => url); // remove empty\n\n// Build a Set of existing URLs for fast lookup\nconst existingUrls = new Set(\n  existingRows.map(url => url.trim().toLowerCase()).filter(Boolean)\n);\n\n// Filter new items to keep only linkedinUrls not already in sheet\nconst uniqueItems = newItems.filter(item => \n  item.linkedinUrl && !existingUrls.has(item.linkedinUrl.trim().toLowerCase())\n);\n\n// Return unique items (full objects) forward\nreturn uniqueItems.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        0
      ],
      "id": "ae878230-04f1-4d6c-a41f-66444804ea82",
      "name": "Code in JavaScript",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0576c67f-f7e8-4da9-a01f-cc9802eca467",
              "leftValue": "={{ $json.linkedinUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1856,
        16
      ],
      "id": "2d8870b7-f8d6-4a57-897e-04346c4ddef1",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "1147091195",
        "text": "=These are the new leads.\n{{ $json[\"First Name\"] }}\n{{ $json[\"Last Name\"] }}\n{{ $json[\"Head Line\"] }}\n{{ $json.Location }}\n{{ $json[\"Company Name\"] }}\n{{ $json[\"Profile Url\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2336,
        0
      ],
      "id": "140daa7b-469f-42a2-acf2-7aa976ac7aa4",
      "name": "Send a text message1",
      "webhookId": "c627e56a-7cf7-4f7c-beb6-272b913be9e1",
      "credentials": {
        "telegramApi": {
          "id": "tOo1JQqFndULmHW6",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "212a5828-8a77-459d-8c83-ffa5e46f70c1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9b76dc501c8d15526b21d09c3d195bb435114142a750d86cd20c0103fe7a9b1c"
  },
  "id": "ilZpTatC9ISP9W6f",
  "tags": []
}