Resume shortlisting.json
{
  "name": "Resume shortlisting",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1zE74kNQzTPxvSk8lOxL5wfwbjIH3NEfVMnJ_vALjgmg",
          "mode": "list",
          "cachedResultName": "Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zE74kNQzTPxvSk8lOxL5wfwbjIH3NEfVMnJ_vALjgmg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 658544668,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zE74kNQzTPxvSk8lOxL5wfwbjIH3NEfVMnJ_vALjgmg/edit#gid=658544668"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e9b34abc-cf58-4696-bb46-10651cf14e3d",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "dknz7YpDay2uA00q",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8bec9637-668e-4c3a-89ad-6b4b18c2057c",
              "name": "Resume Link",
              "value": "={{ $json.Resume }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "b94e3e1e-6bef-46c1-bc43-5ecfc56ad22e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all(); \n\nreturn items.map(item => {\n  const url = item.json['Resume Link'];\n  const id = url.split(\"id=\")[1];   // get file ID\n  return {\n    json: {\n      ...item.json,\n      fileId: id\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "5e43af9c-2d45-4b16-be8f-b6b760a3c07e",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyBtA52ar7ST84Dlt_4AK_9dGCof5IjofY4\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"contents\": [ { \"parts\": [ { \"text\":\"You are an HR assistant hiring for an AI/ML Developer role. Review the following resume carefully and provide only the following:\\n\\n1. A rating out of 10 for this candidate's suitability for the AI/ML Developer role.\\n2. A very short review (2–3 sentences max) summarizing why you gave that rating.Need both rating ande review so do not forget give both always return rating and review.\\n\\nResume:\\n\" + $json.text } ] } ] } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        0
      ],
      "id": "c9e6d60c-ff29-4025-a778-392f93f8017b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.fileId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        576,
        0
      ],
      "id": "577c927a-82ff-49aa-8a3b-38a18af01d75",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rDiNiYNdFRTt2pmt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "id": "a8cb9c6b-e6d5-4f84-b322-818c709dead6",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  const text = item.json.candidates?.[0]?.content?.parts?.[0]?.text || \"\";\n\n  // Extract Rating (number before /10)\n  const ratingMatch = text.match(/\\*\\*Rating:\\*\\*\\s*(\\d+)\\/10/);\n  const rating = ratingMatch ? parseInt(ratingMatch[1], 10) : null;\n\n  // Extract Review (after **Review:**)\n  const reviewMatch = text.match(/\\*\\*Review:\\*\\*\\s*([\\s\\S]*)/);\n  const review = reviewMatch ? reviewMatch[1].trim() : null;\n\n  output.push({\n    json: {\n      rating,\n      review\n    }\n  });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ],
      "id": "cffcf1f6-184f-42ff-9f1a-662622edb911",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1zE74kNQzTPxvSk8lOxL5wfwbjIH3NEfVMnJ_vALjgmg",
          "mode": "list",
          "cachedResultName": "Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zE74kNQzTPxvSk8lOxL5wfwbjIH3NEfVMnJ_vALjgmg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 658544668,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zE74kNQzTPxvSk8lOxL5wfwbjIH3NEfVMnJ_vALjgmg/edit#gid=658544668"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0,
            "Name": "=",
            "Mark": "={{ $json.rating }}",
            "Review": "={{ $json.review }}",
            "Email": "={{ $('Google Sheets Trigger').item.json.Email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume",
              "displayName": "Resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Education\n",
              "displayName": "Education\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mark",
              "displayName": "Mark",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review",
              "displayName": "Review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Status",
              "displayName": "Email Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1408,
        0
      ],
      "id": "6e5d0755-cf32-4ca5-a37f-0d1151f7890d",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FlDpA9euXF4ZdWqL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "742dd744-5b90-43f2-bddd-febe518cfa19",
              "leftValue": "={{ $('Code1').item.json.rating }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1824,
        0
      ],
      "id": "6c16af10-7d56-4522-8ece-bf75115f756d",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "AI DEVELOPER APPLICATION STATUS",
        "message": "=Hi {{ $json.Name }},\nThank you for applying for the AI Developer position. We are pleased to inform you that your application has been shortlisted. Our team will reach out to you with further details about the interview process via email.\n\nBest regards \nAmeesha Lal",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2304,
        -240
      ],
      "id": "98eb1146-7a32-4533-9953-165855ea95b8",
      "name": "Send a message",
      "webhookId": "9262ca8a-b144-483f-824b-16fecdf07ea3",
      "credentials": {
        "gmailOAuth2": {
          "id": "dflo66RpKfZINrfo",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zE74kNQzTPxvSk8lOxL5wfwbjIH3NEfVMnJ_vALjgmg",
          "mode": "list",
          "cachedResultName": "Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zE74kNQzTPxvSk8lOxL5wfwbjIH3NEfVMnJ_vALjgmg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 658544668,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zE74kNQzTPxvSk8lOxL5wfwbjIH3NEfVMnJ_vALjgmg/edit#gid=658544668"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2144,
        -208
      ],
      "id": "ee02c5f4-dda7-41e4-a417-e3257e1a9fd4",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FlDpA9euXF4ZdWqL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zE74kNQzTPxvSk8lOxL5wfwbjIH3NEfVMnJ_vALjgmg",
          "mode": "list",
          "cachedResultName": "Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zE74kNQzTPxvSk8lOxL5wfwbjIH3NEfVMnJ_vALjgmg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 658544668,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zE74kNQzTPxvSk8lOxL5wfwbjIH3NEfVMnJ_vALjgmg/edit#gid=658544668"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2384,
        48
      ],
      "id": "60a5c882-a89a-4e54-b15a-0ff7405b6fbe",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FlDpA9euXF4ZdWqL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "AI DEVELOPER APPLICATION STATUS",
        "message": "=Hi {{ $json.Name }},\nThank you for applying for the AI Developer position and for the time you invested in the process. After careful consideration, we regret to inform you that we will not be moving forward with your application at this time.  We truly appreciate your interest in joining our team and encourage you to apply for future opportunities that may align with your skills and experience.  Wishing you the very best in your career journey. \n\nBest regards,\nAmeesha Lal",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2544,
        64
      ],
      "id": "f1209965-c459-417c-8517-d25ea2c2a62f",
      "name": "Send a message1",
      "webhookId": "ca974f97-11b5-4226-9419-7fb17df88742",
      "credentials": {
        "gmailOAuth2": {
          "id": "dflo66RpKfZINrfo",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zE74kNQzTPxvSk8lOxL5wfwbjIH3NEfVMnJ_vALjgmg",
          "mode": "list",
          "cachedResultName": "Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zE74kNQzTPxvSk8lOxL5wfwbjIH3NEfVMnJ_vALjgmg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 658544668,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zE74kNQzTPxvSk8lOxL5wfwbjIH3NEfVMnJ_vALjgmg/edit#gid=658544668"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1616,
        0
      ],
      "id": "d023992b-749d-45f8-a60b-a3f9c0a0fcea",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FlDpA9euXF4ZdWqL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1zE74kNQzTPxvSk8lOxL5wfwbjIH3NEfVMnJ_vALjgmg",
          "mode": "list",
          "cachedResultName": "Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zE74kNQzTPxvSk8lOxL5wfwbjIH3NEfVMnJ_vALjgmg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 658544668,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zE74kNQzTPxvSk8lOxL5wfwbjIH3NEfVMnJ_vALjgmg/edit#gid=658544668"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Get row(s) in sheet1').item.json.Email }}",
            "Email Status": "Sent"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume",
              "displayName": "Resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Education\n",
              "displayName": "Education\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mark",
              "displayName": "Mark",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review",
              "displayName": "Review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Status",
              "displayName": "Email Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2720,
        64
      ],
      "id": "b2da6c8e-0a6e-4abd-acdf-6384f7e7b378",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FlDpA9euXF4ZdWqL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1zE74kNQzTPxvSk8lOxL5wfwbjIH3NEfVMnJ_vALjgmg",
          "mode": "list",
          "cachedResultName": "Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zE74kNQzTPxvSk8lOxL5wfwbjIH3NEfVMnJ_vALjgmg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 658544668,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zE74kNQzTPxvSk8lOxL5wfwbjIH3NEfVMnJ_vALjgmg/edit#gid=658544668"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Get row(s) in sheet').item.json.Email }}",
            "Email Status": "Sent"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume",
              "displayName": "Resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Education\n",
              "displayName": "Education\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mark",
              "displayName": "Mark",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review",
              "displayName": "Review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Status",
              "displayName": "Email Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2512,
        -240
      ],
      "id": "f2d9b01c-7ba8-4d1a-bd81-1e9570a5dccb",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FlDpA9euXF4ZdWqL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "951d4fc6-c377-429e-bfe5-2f63f925ff5e",
              "leftValue": "={{ $json[\"Email Status\"] }}",
              "rightValue": "[empty]",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1968,
        -176
      ],
      "id": "05674eca-cfb3-489d-a2ec-182bd17efded",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "951d4fc6-c377-429e-bfe5-2f63f925ff5e",
              "leftValue": "={{ $json[\"Email Status\"] }}",
              "rightValue": "[empty]",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2064,
        48
      ],
      "id": "3ecc3ece-7c8d-4613-8b04-b9e9e139f39e",
      "name": "If2"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a427cc1e-4b54-488a-8ceb-494df1efb19e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0240de8f8069ee0de80c6cb8172162df1927eee039aa5548e8330ab849c593bb"
  },
  "id": "gosIcyLLzC3WnHrk",
  "tags": []
}